<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ErrorLog" value="bailiffservices_Error.log"/>
    <add key="InfoLog" value="bailiffservices_Info.log"/>
  </appSettings>
  <connectionStrings>
    <add name="CCS1" connectionString="Data Source=decri-sql\decri;Initial Catalog=ccs1;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>