<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DebtorServices" value="http://localhost:8000/DebtorServices"/>
    <add key="ClientServices" value="http://localhost:9000/ClientServices"/>
    <add key="ErrorLog" value="bailiffservices_Error.log"/>
    <add key="InfoLog" value="bailiffservices_Info.log"/>
  </appSettings>
  <connectionStrings>
    <add name="CCS1" connectionString="Data Source=decri-sql\decri;Initial Catalog=ccs1;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

