<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDebtor" />
                <binding name="WSHttpBinding_IClient" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/DebtorServices/DebtorServices"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDebtor"
                contract="DebtorService.IDebtor" name="WSHttpBinding_IDebtor">
                <identity>
                    <userPrincipalName value="dburford@capita-dmd.local" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9000/ClientServices/ClientServices"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClient"
                contract="ClientService.IClient" name="WSHttpBinding_IClient">
                <identity>
                    <userPrincipalName value="dburford@capita-dmd.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>